.navbar {
  background: #f6f6f6;
  padding: 20px;
  color: rgb(38, 38, 38);
}
.navbar nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar a.brand {
  margin-right: auto;
  color: rgb(38, 38, 38);
  text-decoration: none;
}
.navbar a.brand img {
  margin: auto .5rem;
  width: 1em;
}