.create {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
}
.create label span {
  display: block;
  margin: 30px 0 10px;
}
.create p {
  margin-top: 10px;
  font-size: 0.8em;
}
.create button {
  margin-top: 1.5rem;
  float: right;
}
.create .recipe-ingredients-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.create .recipe-ingredients-wrapper button {
  margin: 0 0 0 .8rem;
}

/* dark mode */
.create.dark {
  color: #e4e4e4;
}

.page-title.dark {
  color: #e4e4e4;
}